{  
    "bot":{
        "prefix":"!",
        "name": "Pexa Bot",
        "iconurl": "https://github.com/pexa/assets/blob/master/logos/pexa300x300.png",
        "debug":false
    },
    "pexacore":{
        "host": "{{ .Env.PEXABOT_COIN_DAEMON_HOST }}",
        "port":"{{ .Env.PEXABOT_COIN_DAEMON_PORT }}",
        "username":"{{ .Env.PEXABOT_COIN_DAEMON_USERNAME }}",
        "password":"{{ .Env.PEXABOT_COIN_DAEMON_PASSOWRD }}"
    },
    "role":{  
        "pexan":"pexan",
		"communityLeader":"Community Leader"
    },
    "mongodb":{
		"url": "",
		"db": ""
	},
    "Channels":{  
        "rainroom":"661405723795914762",
        "support":"594797703859404815",
        "miningIssues":"594797436405415946",
        "general":"594793059841998869",
        "joinroom":"661543964817752077"
    },
    "id":{  
        "self":"379917668116856833",
        "other":[  
            "324631108731928587",
            "396465506707832844"
        ]
    },
    "coin":{  
        "symbol":"PEXA",
        "explorer":"https://"
    }
}
